<div class="jumbotron" style="background-image: url(<%=  image_path("landing.jpg") %>); background-size: cover; background-repeat: no-repeat; background-attachment:center; background-position: center">
  <div class="container">
    <br></br>
    <br></br>
    <h1 style="color: white">Moon Project</h1>
    <h2 style="color: white">登月計劃</h2>
    <h3 style="color: white">目前已有 <%= @users.size %> 位太空人</h2>
    <h3 style="color: white">登錄 <%= @projects.size %> 個計畫</h2>
    <br></br>
    <br></br>
  </div>
</div>
