<div class="jumbotron" style="background-image: url(https://s3-ap-northeast-1.amazonaws.com/moonproject/img/landing.jpg); background-size: cover; background-repeat: no-repeat; background-attachment:center; background-position: center">
  <div class="container">
    <br></br>
    <br></br>
    <h1 style="color: white">Moon Project</h1>
    <h1 style="color: white">登月計劃</h1>
    <h2 style="color: white">實踐夢想的好工具</h2>
    <br></br>
    <br></br>
  </div>
</div>
