<div class= "hidden-print" id="disqus_thread" style="width: 80%; margin: 0px auto"></div>
  <script>
    (function() {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//moon-project.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
</div>
