<div class="jumbotron" style="background-image: url(https://s3-ap-northeast-1.amazonaws.com/moonproject/img/more.jpg); background-size: cover; background-repeat: no-repeat; background-attachment:center; background-position: center">
  <div class="container">
    <h1 style="color: white">More Project</h1>
    <h1 style="color: white">登月計劃看板</h1>
    <h2 style="color: white">給夥伴鼓勵和建議</h2>
  </div>
</div>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-4 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">登月目標 : <%= project.mastergoal %></h4>
        </div>
        <div class="panel-body">
          <h5>執行進度</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            <span class="sr-only">45% Complete</span>
            </div>
          </div>
          <a href="<%= project_path(project) %>" class="btn btn-primary btn-block" role="button">看計畫</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
