<div class="jumbotron" style="background-image: url(https://s3-ap-northeast-1.amazonaws.com/moonproject/img/moon01.jpg); background-size: cover; background-repeat: no-repeat; background-attachment:center; background-position: center">
  <div class="container">
    <h1 style="color: white">Moon Project 登月計劃</h1>
    <h2 style="color: white">協助實現夢想的工具</h2>
  </div>
</div>

<form role="form">
  <div class="form-group">
    <label>這次的登月目標是什麼？</label>
    <input type="text" class="form-control" placeholder="跑馬拉松">
  </div>
    <div class="form-group">
    <label>明確的子目標是什麼？</label>
    <input type="text" class="form-control" placeholder="不間斷跑十一公里">
  </div>
    <div class="form-group">
    <label>怎樣才算是成功？</label>
    <input type="text" class="form-control" placeholder="每天跑兩圈公園，不能用走的">
  </div>
    <div class="form-group">
    <label>這件事有可能辦到嗎？</label>
    <input type="text" class="form-control" placeholder="有可能，只要我一星期跑三次的話">
  </div>
    <div class="form-group">
    <label>這這件事能配合現實生活嗎？</label>
    <input type="text" class="form-control" placeholder="如果每星期一三五都早點起床，就可能辦到">
  </div>
    <div class="form-group">
    <label>時間進度怎麼定？</label>
    <input type="text" class="form-control" placeholder="本週跑五公里，下週跑六公里，下下週跑七公里">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-default">Save</button>
  </div>
</form>
