<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">這次的登月目標是什麼？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    Panel content
  </div>
</div>

<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  <p></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">明確的子目標是什麼？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    Panel content
  </div>
</div>

<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  <p></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">怎樣才算是成功？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    Panel content
  </div>
</div>

<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  <p></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">這件事有可能辦到嗎？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    Panel content
  </div>
</div>

<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  <p></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">這件事能配合現實生活嗎？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    Panel content
  </div>
</div>

<div style="text-align:center">
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  <p></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align:center">時間進度怎麼定？</h3>
  </div>
  <div class="panel-body" style="text-align:center">
    Panel content
  </div>
</div>
