<p>Hello <%= @resource.email %>!</p>

<p>有人想要重新設定您的帳號密碼，如果確定要Reset，請點擊下列網址．</p>

<p><%= link_to '確定Reset我的帳戶密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
